{% extends 'web/base.html'%}
{% block title %}Recommendations{% endblock %}
{% block body %}
<div style="margin: 5%;color: white;">
<div class="container-fluid">
	<h2 style="color: white">Recommendations for You </h2>
</div>
<br>


	<div class="container-fluid">
    
    <!-- Movie list -->
    <div class="row">
            {% if movie_list %}
            {% for movie in movie_list %}
                <div class="col-sm-3 col-md-3 ">
                    <div class="thumbnail" style="background-color: #3A4750;">
                        <h4>{{movie.title}}</h4>
                        <a href="{% url 'detail' movie.id %}">
                            <img src="{{ movie.movie_logo.url}}" style="width: 200; height: 400px" class="img-responsive">
                        </a>
                        <h5>{{movie.genre}}</h5>
                        <div class="caption">

                            <!-- View Details -->
                            <a href="{% url 'detail' movie.id %}" class="btn btn-primary btn-sm" role="button">Give Rating</a>

                                        
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
        </div>
    
</div>
</div>
{% endblock %}